@media (max-width: 575px) {
  .spline-script {
    display: none;
  }
}
.spline-script,
#canvas3d {
  position: relative;
}
.spline-script::after,
#canvas3d::after {
  z-index: 10;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}