@import url("https://fonts.googleapis.com/css2?family=Stick&display=swap");
@import "./css/sidebar.css";

html,
body {
	padding: 0;
	margin: 0;
	height: minmax(100vh, auto);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}
html {
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	background: #e7e7e7;
}
::-webkit-scrollbar-thumb {
	background: #a9b7ca;
	border-radius: 50px;

	border: solid 1px #e7e7e7;
}
a {
	color: inherit;
	text-decoration: none;
	display: block;
	width: "100%";
	height: "100%";
	margin: "0";
}

* {
	box-sizing: border-box;
	line-height: 1.8rem;
	letter-spacing: 0.1rem;
}

.font-stick {
	font-family: "Stick", sans-serif;
}
